import Head from 'next/head';
import App from '../components/App';
import withData from '../libraries/withData';
import withRoot from '../libraries/withRoot';

const {{filename}} = props => ( // eslint-disable-line
  <App>
    <Head>
      <title>{{filename}}</title>
    </Head>
    <div>
      <h1>{{filename}}</h1>
      <p>HELLO WORLD!</p>
    </div>
  </App>
);

export default withData(withRoot({{filename}}));
